@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
/* Start Variables*/
    :root{
        --main-color:#10cab7;
        --secondary-color:#2c4755;
        --section-padding:60px;
        --section-background:#f6f6f6;
        --main-transition:0.3s;
    }

/* End Variables*/

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/* End Global Rules */
/* Start Compenents*/
.special-heading{
    color:#ebeced;
    font-size:100px ;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* Start Compenents*/
/*Start header*/
.header{
    padding: 20px;
}
.header .logo{
    width: 60px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-transition);
}
.header .links .icon:hover span:nth-child(2){
    width: 100%;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    background-color: #f6f6f6;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: var(--main-transition);
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px #ddd solid;

}
.header .links ul li a:hover
{
    padding-left: 25px;
}
/*End header*/
/*Start Landing*/
.landing{
    background-image: url(../images/landing.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);  
    position: relative;
    text-align: center;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/*End Landing*/

/* Start Features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.features .feat{
    text-align: center;
    padding: 20px;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800;
}
.features p{
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}
/* End Features */
/* Start Service*/
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    margin-bottom: 30px;
    display: flex;
}
@media (max-width:767px) {
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image{
    position: relative;
    text-align: center;
}
.services .services-content .image img{
    width: 260px;
}
.services .services-content .image::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
}
@media (max-width:1199px) {
    .image-service{
        display: none;
    }
}
/* End Service*/

/* Start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content img{
    max-width: 100%;
}
.portfolio .portfolio-content .info{
    padding: 20px;
}
.portfolio .portfolio-content .info h3
{
    margin: 0;
}
.portfolio .portfolio-content .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* Start Portfolio */
/* Start About*/
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .image img{
    max-width: 100%;
}
.about .image{
    width: 250Px;
    height: 375px;
    position: relative;
}
@media (max-width: 991px) {
    .about .image{
        margin: 0 auto 60px;
    }
}
.about .image::before{
    content: '';
    position: absolute;
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
}
.about .image::after{
    content: '';
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    width: 100px;
    height: 300px;
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .image::after,
    .about .image::before{
        display: none;
    }
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text :first-child
{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr
{
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
.about .about-content .text :last-child
{
    color: #777;
    line-height: 2;
}

/* End About */
/* Start Contact*/
.contact{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info{
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
}
.contact .info .link{
    margin-top: -15px;
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .contact .info .label,
    .contact .info .link
    {
        font-size: 25px;
    }
}
/* End Contact*/
/* Start Footer */
.footer{
    text-align: center;
    background-color: var(--secondary-color);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;

}
/* End Footer */
